* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* [class*="col"]{
    border: 1px solid black;
    
} */



.box-left,
.box-right {
    height: 100vh;

}

.box-left img,
.box-right img {
    width: 50px;
}

.user i,
.box-send-message i {
    color: #b1b1b1;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.3rem;
}

.user,
.box-send-message {

    align-items: center;
    background-color: #eaeaea;
}

.notify {
    background-color: #8edafc;
}

.user,
.notify {
    padding: 10px;
}

.notify i {
    color: #8edafc;
    font-size: 1.3rem;
    background-color: #f2fbff;
    padding: 0px 10px;
    line-height: 50px;
    vertical-align: middle;
}

.notify a {
    font-size: 0.8rem;
    color: black;
}

.search-input {
    margin: 10px 0px;
}

#contactsList span {
    font-size: 0.7rem;
}

#contactsList {
    overflow-y: scroll;
}

.contact {
    padding: 10px;
    border-top: 1px solid lightgrey;
}

.contact img {
    margin-right: 15px;
    cursor: pointer;
}

.active {
    background-color: #eaeaea;
}

.box-right {
    background-image: url(../img/mine.jpg);

}

#chat {
    flex-grow: 1;
    overflow-y: scroll;
}


.message {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 50px;
}


.send {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.received {
    align-self: flex-start;
    background-color: #ffffff;
}

.input-message {
    margin: 10px;
}