*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* [class*="col"]{
    border: 1px solid black;
    
} */

/* div{
    border: 1px solid black;
} */

.box-left img, .box-right img{
    width: 50px;

}

.box-left, .box-right{
   height: 100vh;
}

.user, .send-message{
    line-height: 50px;
    vertical-align: middle;
    background-color:#eaeaea;
}

.notify{
    background-color: #8edafc;
}
.user, .notify{
    padding: 10px;
}

.notify i{
    font-size:1.3rem;
    background-color: #f2fbff;
    padding: 0px 10px;
    line-height: 50px;
    vertical-align: middle;
}

#contactsList span{
    font-size: 0.7rem;
}
#contactsList{
    overflow-y: scroll;
    
}

.contact{
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.contact img{
    margin-right: 15px;
}

.box-right{
    background-image: url(../img/mine.jpg);
}

.send-message{
    position: relative;
    top:580px;
    
}
.message{
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 50px;
}


.send{
    align-self: flex-end;
    background-color: #d5f9ba;
}

.received{
    align-self: flex-start;
    background-color: #ffffff;
}

