<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>

<body>



    <div id="root">

        <div class="container d-flex">

            <!-- inizio box left -->
            <div class="box-left col-4 ">

                <!-- inizio utente -->
                <div class="user d-flex justify-content-between">

                    <div>
                        <img class="rounded-circle" src="img/avatar_io.jpg" alt="">
                        <span>Sofia</span>
                    </div>

                    <div>
                        <i class="fa-solid fa-rotate"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </div>
                <!-- fine utente -->


                <!-- inizio notifiche -->
                <div class="d-flex notify">

                    <i class="rounded-circle fa-solid fa-bell-slash"></i>

                    <div>
                        <span>Ricevi notifiche di nuovi messaggi</span> <br>

                        <a href="#">Ricevi notifiche dekstop</a>
                    </div>

                </div>
                <!-- fine notifiche -->


                <!-- inizio input -->
                <div class="search-input d-flex justify-content-center">
                    <button class="col-2"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input @keyUp="contactSearch" class="col-9" v-model="search" type="text">
                </div>
                <!-- fine input -->

                <!-- inizio lista contatti -->
                <div id="contactsList" class="d-flex flex-column">

                    <div v-for="(contact, index) in contacts" v-if="contact.visible"
                        class="contact d-flex justify-content-between">

                        <div @click="setContactClicked(index)" class="d-flex">

                            <img :src="getImgAvatar(contact.avatar)" class="rounded-circle" :alt="contact.name" />

                            <div>
                                <div>{{contact.name}}</div>
                                <span>{{getLastMessage(contact)}}</span>
                            </div>

                        </div>

                        <span>{{contact.messages[contact.messages.length-1].ora}}</span>

                    </div>

                </div>
                <!-- inizio lista contatti -->

            </div>
            <!-- fine box left -->


            <!-- inizio box right -->
            <div class="box-right d-flex col-8">

                <div class="d-flex flex-column col-12">

                    <!-- Inizio contatto selezionato -->
                    <div v-if="contactClicked !== undefined" class="user d-flex justify-content-between">

                        <div>
                            <img :src="'img/avatar' + contacts[contactClicked].avatar + '.jpg'" class=" rounded-circle">
                            <span>{{contacts[contactClicked].name}}</span>
                        </div>

                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                    </div>
                    <!-- fine contatto selezionato -->

                    <!-- Inizio chat con contatto selezionato-->
                    <div v-if="contactClicked !== undefined" id="chat" class="d-flex flex-column">

                        <div v-for="message in contacts[contactClicked].messages"
                            :class="[typeOfMessage(message.status), 'message']">
                            {{message.message}}
                        </div>
                    </div>
                    <div v-else id="chat"></div>
                    <!-- fine chat con contatto selezionato-->

                    <!-- Inizio invio messaggio -->
                    <div class="box-send-message d-flex text-center">

                        <div class="col-2">

                            <i class="fa-solid fa-face-smile"></i>

                        </div>

                        <div class="col-8">

                            <input v-model="newMessage" @keyUp.enter="sendMessage" class="input-message col-12"
                                type="text" placeholder="Scrivi un messaggio">

                        </div>

                        <div class="col-2">

                            <i class="fa-solid fa-microphone"></i>
                        </div>

                    </div>
                    <!-- fine invio messaggio -->

                </div>

            </div>
            <!-- fine box right -->

        </div>

    </div>

    <script src="js/data.js"></script>
    <script src="js/script.js"></script>
</body>

</html>